{% extends 'view.twig' %}

{% block content %}

{% for compte in compte %}
    <div class="mdl-grid mdl-color--grey-300">
		<div class="mdl-card mdl-cell mdl-cell--12-col-desktop mdl-cell--8-col-tablet mdl-cell--4-col-phone">
		  <ul class="detailcomposants-list-three mdl-list">
			<li>
				<h2 class="detailTitle">Vos Informations: </h2>
				  <div class="detail-compo">
					<div class="descName">Prénom</div>
					<div class="descDesc">{{compte.get('prenom')}}</div>
				  </div>
				  <div class="detail-compo">
					<div class="descName">Nom</div>
					<div class="descDesc">{{compte.get('nom')}}</div>
				  </div>
				  <div class="detail-compo">
					<div class="descName">Email</div>
					<div class="descDesc">{{compte.get('email')}}</div>
				  </div>
				  <div class="detail-compo">
					<div class="descName">Type de compte</div>
					<div class="descDesc">{{admin}}</div>
				  </div>
				  <div class="detail-compo">
					   <a class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-color--grey-300" href="{{ path('logout')}}">Deconnexion</a>

					   <a class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-color--grey-300" href="{{ path('updateCompte')}}">Modifier vos informations personnelles</a>

					   <a class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-color--grey-300" href="{{ path('supprimer')}}">Supprimer votre compte définitivement</a>
					   {{Adminbutton|raw}}
				  </div>
			</li>
		  </ul>
		</div>	
  	</div>

{% endfor %}
{% endblock %}